* {
    padding: 5px;
    margin: 0;
    }
    
    footer {
        width: 100%;
        background-image: url("/images/glitch.jpg");
        background-repeat: no-repeat;
        text-align: left;
        overflow: auto;
    }
    
    body {
    Line-height: 130%;
    Font-family: Roboto Mono;
    font-size: 1em;
    Color: #eeede4;
    background-color: #282624
    }
    
    h1 {
    font-size: 2.25em;
    color: #dcff69;
    text-transform: uppercase
    }
    
    h3 {
    font-size: 1em;
    color: #dcff69;
    }
    
    a:link {
        text-decoration: none;
        color: #dcff69
        }
        
        a:visited {
        text-decoration: none;
        color: #eeede4
        }
        
        a:hover {
        text-decoration: none;
        color: #ea2171
        }      


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
   max-width: 100%;
   height: auto;
}

#wrapper {
    width: 80%;
    margin: auto;
    position: relative;
}

header {
    width: 100%;
    margin: auto;
    padding: 0;
    position: fixed;
    background-color: #282624;
    z-index: 20;
}

nav{
    width: 100%;
    margin: auto;
    padding: 0;
}

li {
    display: inline;
}

.columns {float:left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
