* {
    padding: 5px;
    margin: 20px;
    }
    
    footer {
        background-image: url("/images/glitch.jpg");
        background-repeat: no-repeat;
    }
    
    body {
    Line-height: 130%;
    Font-family: Roboto Mono;
    font-size: 1em;
    Color: #eeede4;
    background-color: #282624
    }
    
    h1 {
    font-size: 2.25em;
    color: #dcff69;
    text-transform: uppercase
    }
    
    h3 {
    font-size: 1em;
    color: #dcff69;
    }
    
    a:link {
        text-decoration: none;
        color: #dcff69
        }
        
        a:visited {
        text-decoration: none;
        color: #eeede4
        }
        
        a:hover {
        text-decoration: none;
        color: #ea2171
        }      

li {
    float:left;
}

ul {
    list-style: none;
}
p {
    column-count: 3;
    column-gap: 40px;
}


